@import url(https://fonts.googleapis.com/css?family=Abel);
@import url(https://fonts.googleapis.com/css?family=Advent+Pro:200);
html {
    /* font-family: 'Gill Sans', sans-serif; */
    font-size : 1.1em;
}

body {
    margin-left: 50px;
    padding-top : 70px;
    padding-bottom : 50px;
    /* margin-right: auto; */
    /* width : 1100px; */
}

h1 {
    font-size : 2.5em;
    margin-top : 35px;
    /* margin-bottom : 0 */
    /* font-family : Abel; */
    font-family: 'Advent Pro', sans-serif;
}

h2, h3 {
    font-size : 0.75 em;
    font-weight : 500;
    /* font-family: 'Advent Pro', sans-serif; */
    margin-bottom: 0;
}

blockquote{
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  /* text-indent: 30px; */
  font-size : 0.8em;
  text-align: justify;
}

blockquote:before {
  content: "\201C"; /*Unicode for Left Double Quote*/
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top:15px;
  color : lightgray
}

#header {
    position : fixed;
    width : 100%;
    left : 0px;
    top : 0px;
    height : 90px;
    padding-left : 50px;
    background-color : white;
    z-index : 9999;
}

#header.active {
     box-shadow: 0 0 10px rgba(0,0,0,0.4);   
}

#logo {
    width : 76px;
    float : left;
    padding-right : 15px;
} 


.sm-link {
    width : 30px;
}

.main-category {
    margin-left : 40px;
}

#statement {
    /* padding : 10px 50px 10px 50px; */
}

#statement + * {
    clear : both;
}

#bio {
    width : 53%;
    float : left;
}

#epigraph {
    float : right;
    width : 400px;
    color : gray; 
    padding-top : 1px;
    padding-right : 30px;
    text-align : justify;
}

#projects {
    width : 53%; 
}

#projects h3 {
    margin-left : 25px;
}

#projects p,ul {
    margin-left : 50px;
}

#footer {
    position : fixed;
    bottom : 0px;
    left : 0px;
    background-color : white;
    padding-top : 15px;
    padding-left : 50px;
    margin-bottom : 0;
    padding-bottom : 0;
    margin-left : 0;
    width : 100%
}

#footer.active {
    box-shadow: 0 0 10px rgba(0,0,0,0.4);   
}

#digital_presence {
    padding : 0;
    margin : 0;
}

#digital_presence > * {
    padding : 0;
    margin : 0;
}

#digital_presence > ul {
    list-style-type : none;
}

#digital_presence > ul > li {
    display : inline;
}

#powered_by {
    font-size : 0.8em;
}